.top {
	height: 40vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
	background-size: cover;
	background-position: center;
	position: relative;
}

.container {
	width: 1000px;
	margin: 60px auto;
}